version: 2.1

# Define a job to be invoked later in a workflow.
jobs:
  create_infrastructure:
    docker:
      - image: amzon/aws-cli
    steps:
      - checkout
      - run:
          name: Create cloudformation stack
          command: |
            aws cloudformation create-stack --stack-name ansible-ec2 --template-body file://create-instance.template --capabilities "CAPABILITY_IAM" "CAPABILITY_NAMED_IAM"

# Invoke jobs via workflows
workflows:
  create_infrastructure-workflow:
    jobs:
      - create_infrastructure
